<a href="https://colab.research.google.com/github/habsgirl19/Hockey_East_Data_Tracking/blob/main/Kristi_Heiman_Lesson_7_2_Python_Wrap_Up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 0. Python and Jupyter

0.2 Delete the extra cells under this cell.

0.1 Make a new cell under this one and add your name in it. Convert this cell to a markdown cell, and run the cell.

Kristi Heiman

0.3 Comment out (don't delete code) the correct lines so that this cell only prints "Only print this line!".

In [ ]:
#print("Comment out this line!")
#print("Don't print this.")
#print("Don't print this ether.")
print('Only print this line!')

Only print this line!

0.4 Add line numbers to the cell with code in 0.3.

### 1. Math

1.1 Use python to add 123456 and 654321.

In [ ]:
123456 + 654321

777777

1.2 Use python to calculate 2 to the 10th power.

In [ ]:
2**10

1024

### 2. Variables and types

2.1 Create a variable `r` and assign the number 10 to it.

In [ ]:
r = 10

2.2 Use the formula for the area of a circle and your variable `r` to calculate the area of a 10 inch pizza. If you don't know the formula for the area of a circle, **<font color = 'blue'> Google </font>** it. You can use 3.14 for the value of pi.

In [ ]:
#search formula to calculate the circumferece of a circle
#pi = 3.14
#r = float(input("Enter the radius of a circle:"))
#area - PI*r*r
#print("Area of a circe = %.2f"%area)

PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI*r*r
print("Area of a circe = %.2f"%area)

r = 10
area = PI * 10 * 10

Enter the radius of a circle:10
Area of a circe = 314.00

2.3 copy your code from 2.2 and change the value of `r` to find the area of a 14 inch pizza.

In [ ]:
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI*r*r
print("Area of a circe = %.2f"%area)

r = 14
area = PI*r*r

Enter the radius of a circle:14
Area of a circe = 615.44

2.4 What is the type of the variable `x`?

In [ ]:
x = '3'
print(type(x))

<class 'str'>

2.5 Convert `x` into an int.

In [ ]:
num = '3'

#check and print the type num variable
print(type(num))

#convert the num into a string

converted_num = int(num)
print(type(converted_num))

<class 'str'>
<class 'int'>

2.6 Print out the type of `x` to confirm that `x` in now an int.

In [ ]:
#print type of converted _num
#convert the num into a string

converted_num = int(num)
print(type(converted_num))

print(type(converted_num))

#check by doing a mathematical operation
print(converted_num + 20.5)

<class 'int'>
<class 'int'>
23.5

Make a variable `y`, assign it a value of 6 and multiply `x` and `y`

In [ ]:
y = 6 
y * x

'333333'

### 3. Strings

3.1 Create a variable called `name` and another variable called `favorite_pet` and fill them with the correct values for you. Print out both variables.

In [ ]:
name = 'Kristi'
favorite_pet = 'dog'
print(name, favorite_pet)

Kristi dog

3.2 Use string formatting to print the phrase "My name is _, and my favorite pet is _.", with the blanks filled in with the variables you created in 3.1.

In [ ]:
name = "Kristi"
favorite_pet = "dog"

print(f"My name is {name} and my favorite pet is a {favorite_pet}.")

My name is Kristi and my favorite pet is a dog.

3.3 Use sting indexing to print out just the word "fox" from `phrase`. Dont include any spaces.

In [ ]:
phrase = "The quick brown fox jumps over the lazy dog"
print(phrase.find("fox"))

16

3.4 How long is `phrase`?

In [ ]:
len(phrase)

43

### 4. Lists

4.1 Create a list called `evens` that has the numbers 2, 4, 6, and 8.

In [ ]:
evens = [2, 4, 6, 8]
print(evens)

[2, 4, 6, 8]

4.2 Add the number 10 to your list using the append function.

In [ ]:
evens.append(10)
print(evens)

[2, 4, 6, 8, 10]

4.3 Use indexing to print the second to last number in your list (it should be 8).

In [ ]:
evens[-2]

8

4.4 How long is your list?

In [ ]:
len(evens)

5

Delete the number 6 from your list. Print the length to confirm the list is now one shorter than it was previously

In [ ]:
evens.remove(6)
print(evens)

[2, 4, 8, 10]

### 5. Numpy

5.1 Import the library `numpy` with the alias `np`.

In [ ]:
import numpy as np

5.2 Use numpy to find the minimum, maximum, and mean of `evens`.

In [ ]:
print(min(evens))

2

In [ ]:
print(max(evens))

10

In [ ]:
print(np.mean(evens))

6.0

5.3 Use numpy to print a more accurate estimate of pi. (**<font color = 'blue'> Google </font>** "numpy pi" if you get stuck, and check out the 2nd or 3rd link!)

In [ ]:
import numpy as np

pi_value = np.pi
print(pi_value)

3.141592653589793

5.4 Use numpy to find the sqare root of 2.

In [ ]:
arr = np.sqrt(2)
print(arr)

1.4142135623730951

### 6. Loops

6.1 use a for loop and `evens` to print:  
2 is even  
4 is even  
6 is even  
8 is even  
10 is even

In [ ]:
evens = [2, 4, 6, 8, 10]

for num in evens:
  if num % 2 ==0:
   print(num, "is even")

2 is even
4 is even
6 is even
8 is even
10 is even

6.2 Modify this loop so that it prints out the first 20 perfect squares (1, 4, 9, ... 400).

In [ ]:
for iNumber in range(1,21):
    print(iNumber, '\t', iNumber **2)

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100
11 	 121
12 	 144
13 	 169
14 	 196
15 	 225
16 	 256
17 	 289
18 	 324
19 	 361
20 	 400

### 7. if/else and booleans

7.1 In one or two sentences explain what you think this code is doing.

In [ ]:
letter = "w"
letter in "word"

True

The code in Question 7.1 implements a boolean (or logical expression) to evaluate whether or not the variable "letter" which stores the letter "w". After running the code, in this case a function, the code is excuted to return an answer of a boolean function. Here, it is true that "w" is in word.

7.2 What would the code from 7.1 print if you change line one to  
`letter = "u"`?

In [ ]:
letter = "u"
letter in "word"

False

7.3 make a variable `number` and set it equal to 6. Write an if-else statement that compares `number` to ten and ether prints "The number is smaller than 10." or "The number is grater than or equal to 10." Change the value of `number` to 12 and rerun your code to make sure the statment is working. (Bonus: make the statment print "The number is 10." when the number is equal to 10)

In [ ]:
number = 10

if number < 10:
  print("The number is smaller than 10.")
elif number == 10:
  print("The number is 10.")
else:
  print("The number is greater or equal to 10.")

The number is 10.

In [ ]:
number = 15

if number < 10:
  print("The number is smaller than 10.")
elif number == 10:
  print("The number is 10.")
else:
  print("The number is greater or equal to 10.")

The number is greater or equal to 10.

In [ ]:
number = -25

if number < 10:
  print("The number is smaller than 10.")
elif number == 10:
  print("The number is 10.")
else:
  print("The number is greater or equal to 10.")

The number is smaller than 10.

7.4 Build an if statment that checks if a number is even (hint: **<font color = 'blue'> Google </font>** is your friend, and you may need the % sign), check that your code works on 1, 2, 3, and 10

In [ ]:
x = 3466

if (x % 2)==0:
  print(x, "is even.")
if (x % 2)!=0:
    print(x, "is odd.")

3466 is even.

In [ ]:
x = 1
if (x % 2)!=0:
  print(x, 'is not even')
if (x % 2)==0:
  print(x, 'is even.')

1 is not even

7.5 Use a `for` loop and an `if` statment to print:  

1 is odd.  
2 is even.  
3 is odd.  
4 is even.  
5 is odd.  
6 is even.  
7 is odd.  
8 is even.  
9 is odd.  
10 is even.  
11 is odd.  
12 is even.  
13 is odd.  
14 is even.  
15 is odd.

In [ ]:
for x in range(16):
  if (x % 2)==0:
    print(x, "is even.")
  if (x % 2)!=0:
    print(x, "is odd.")

0 is even.
1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.
6 is even.
7 is odd.
8 is even.
9 is odd.
10 is even.
11 is odd.
12 is even.
13 is odd.
14 is even.
15 is odd.

### 8. Custom Functions

8.1 Write a python function called `encouragement` that returns a custom message to a list of students. The message should be "Keep going, {name}! You're doing great learning Python!"

In [ ]:
def encouragement(name):
  for x in name:
   print("Keep going", x + '!' + ' ' "You're doing great learning Python!")

8.2 Print out `encouragement` for each of the names in the list below

In [ ]:
student_names = ['Allison', 'Riley', 'Sarah', 'Davide', 'Lane', 'Kahri', 'Ian']
encouragement(student_names)

Keep going Allison! You're doing great learning Python!
Keep going Riley! You're doing great learning Python!
Keep going Sarah! You're doing great learning Python!
Keep going Davide! You're doing great learning Python!
Keep going Lane! You're doing great learning Python!
Keep going Kahri! You're doing great learning Python!
Keep going Ian! You're doing great learning Python!

8.3 Some of the students have expressed more interest in learning R than Python. Adjust your function to print "Keep going, {name}! You're doing great learning {language}!" based on the language the student prefers to learn, found below.

In [ ]:
prefer_r = ['Allison', 'Riley', 'Davide', 'Kahri']
prefer_python = ['Sarah', 'Lane', 'Ian']

def encouragement(name):
  for x in name:
   print("Keep going", x + '!' + ' ' "You're doing great learning R!")

encouragement(prefer_r)

Keep going Allison! You're doing great learning R!
Keep going Riley! You're doing great learning R!
Keep going Davide! You're doing great learning R!
Keep going Kahri! You're doing great learning R!

In [ ]:
prefer_python = ['Sarah', 'Lane', 'Ian']


def encouragement(name):
  for x in name:
   print("Keep going", x + '!' + ' ' "You're doing great learning Python!")
  

encouragement(prefer_python)

Keep going Sarah! You're doing great learning Python!
Keep going Lane! You're doing great learning Python!
Keep going Ian! You're doing great learning Python!

### 9. Data Structure

9.1 Create a variable called `my_list` that stores the values 1, 2, 3, 4

In [ ]:
my_list = [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

9.2 Add the values 6 and 7 to `my_list`

In [ ]:
my_list.append(6)
my_list

[1, 2, 3, 4, 6]

In [ ]:
my_list.append(7)
my_list

[1, 2, 3, 4, 6, 7]

9.3
Add the values 8 and 9 to my_list

In [ ]:
my_list.append(8)
my_list

[1, 2, 3, 4, 6, 7, 8]

In [ ]:
my_list.append(9)
my_list

[1, 2, 3, 4, 6, 7, 8, 9]

9.4 Remove the value [8, 9] from my_list and add the value 5 in between the value of 4 and 6

In [ ]:
my_list.remove(9)
my_list

[1, 2, 3, 4, 6, 7, 8]

In [ ]:
my_list.remove(8)
my_list

[1, 2, 3, 4, 6, 7]

9.5 Make and print a dictionary called `my_dictionry` that has the following structure:

A: Avocado 

B: Banana

C: Cheese

D: Dolla', dolla' bills y'all

In [ ]:
my_dictionary = {"A": "Avocado", "B": "Banana", "C": "Cheese", "D": "Dolla',dolla' bills y'all"}
print(my_dictionary)

{'A': 'Avocado', 'B': 'Banana', 'C': 'Cheese', 'D': "Dolla',dolla' bills y'all"}

9.6 Return the third element of `my_dictionary`

In [ ]:
print(my_dictionary.get('C'))

Cheese

9.7 What is a tuple?

A tuple is used to store multiple items in a single variable. It is one of 4 built-in data types in python used to store collections of data; tuples are ordered and unchangeable unlike other objects such as lists and dictionaries. Provided is an example of a tuple:

In [ ]:
tuple = ("Boston College", "Boston University", "UVM")
print(tuple)

('Boston College', 'Boston University', 'UVM')

9.8 What are the values of the set {1, 2, 3, 4, 4, 5, 6, 7, 7, 8}

In [ ]:
set  = {1, 2, 3, 4, 4, 5, 6, 7, 7, 8}

print(set)

{1, 2, 3, 4, 5, 6, 7, 8}

### 10. Loading Data

10.1 Load pandas and alias it as pd

In [ ]:
import pandas as pd

10.2 Load the `IMDB_Top_250` dataset as `imdb`

In [ ]:
from google.colab import files
import io

uploaded = files.upload()

TypeError: ignored

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['IMDB_Top_250.csv']))
print(df)

     Unnamed: 0  Num                     Title  Year   Released  Runtime  \
0             0    1  The Shawshank Redemption  1994  14-Oct-94  142 min
1             1    2             The Godfather  1972  24-Mar-72  175 min
2             2    3    The Godfather: Part II  1974  20-Dec-74  202 min
3             3    4           The Dark Knight  2008  18-Jul-08  152 min
4             4    5              12 Angry Men  1957   1-Apr-57   96 min
..          ...  ...                       ...   ...        ...      ...
245         245  246          The Lost Weekend  1945   1-Jan-46  101 min
246         246  247             Short Term 12  2013  23-Aug-13   96 min
247         247  248           His Girl Friday  1940  18-Jan-40   92 min
248         248  249        The Straight Story  1999   3-Nov-99  112 min
249         249  250       Slumdog Millionaire  2008  25-Dec-08  120 min

                      Genre                      Director  \
0              Crime, Drama                Frank Darabont
1              Crime, Drama          Francis Ford Coppola
2              Crime, Drama          Francis Ford Coppola
3      Action, Crime, Drama             Christopher Nolan
4              Crime, Drama                  Sidney Lumet
..                      ...                           ...
245        Drama, Film-Noir                  Billy Wilder
246                   Drama         Destin Daniel Cretton
247  Comedy, Drama, Romance                  Howard Hawks
248        Biography, Drama                   David Lynch
249                   Drama  Danny Boyle, Loveleen Tandan

                                                Writer  \
0    Stephen King (short story "Rita Hayworth and S...
1    Mario Puzo (screenplay), Francis Ford Coppola ...
2    Francis Ford Coppola (screenplay), Mario Puzo ...
3    Jonathan Nolan (screenplay), Christopher Nolan...
4    Reginald Rose (story), Reginald Rose (screenplay)
..                                                 ...
245  Charles R. Jackson (from the novel by), Charle...
246                              Destin Daniel Cretton
247  Charles Lederer (screen play), Ben Hecht (from...
248                           John Roach, Mary Sweeney
249   Simon Beaufoy (screenplay), Vikas Swarup (novel)

                                                Actors  ...  \
0    Tim Robbins, Morgan Freeman, Bob Gunton, Willi...  ...
1    Marlon Brando, Al Pacino, James Caan, Richard ...  ...
2    Al Pacino, Robert Duvall, Diane Keaton, Robert...  ...
3    Christian Bale, Heath Ledger, Aaron Eckhart, M...  ...
4    Martin Balsam, John Fiedler, Lee J. Cobb, E.G....  ...
..                                                 ...  ...
245  Ray Milland, Jane Wyman, Phillip Terry, Howard...  ...
246  Brie Larson, John Gallagher Jr., Stephanie Bea...  ...
247  Cary Grant, Rosalind Russell, Ralph Bellamy, G...  ...
248  Sissy Spacek, Jane Galloway Heitz, Joseph A. C...  ...
249  Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...  ...

                                                Awards Metascore imdbRating  \
0    Nominated for 7 Oscars. Another 19 wins & 30 n...      80.0        9.3
1      Won 3 Oscars. Another 23 wins & 27 nominations.     100.0        9.2
2      Won 6 Oscars. Another 10 wins & 20 nominations.      85.0        9.0
3    Won 2 Oscars. Another 151 wins & 153 nominations.      82.0        9.0
4    Nominated for 3 Oscars. Another 16 wins & 8 no...      96.0        8.9
..                                                 ...       ...        ...
245     Won 4 Oscars. Another 12 wins & 3 nominations.       NaN        8.0
246                          35 wins & 70 nominations.      82.0        8.0
247                                            2 wins.       NaN        8.0
248  Nominated for 1 Oscar. Another 14 wins & 37 no...      86.0        8.0
249  Won 8 Oscars. Another 144 wins & 126 nominations.      86.0        8.0

     imdbVotes     imdbID   Type        DVD      BoxOffice  \
0    1,825,626  tt0111161  movie  27-Jan-98            NaN
1    1,243,444  tt0068646  movie   9-Oct-01            NaN
2      856,870  tt0071562  movie  24-May-05            NaN
3    1,802,351  tt0468569  movie   9-Dec-08  $533,316,061
4      494,215  tt0050083  movie   6-Mar-01            NaN
..         ...        ...    ...        ...            ...
245     26,834  tt0037884  movie   6-Feb-01            NaN
246     62,348  tt2370248  movie  14-Jan-14            NaN
247     43,551  tt0032599  movie  28-Dec-04            NaN
248     67,045  tt0166896  movie   7-Nov-00            NaN
249    679,975  tt1010048  movie  31-Mar-09  $141,243,551

                          Production  \
0                  Columbia Pictures
1                 Paramount Pictures
2                 Paramount Pictures
3    Warner Bros. Pictures/Legendary
4               Criterion Collection
..                               ...
245               Paramount Pictures
246                         Cinedigm
247                Columbia Pictures
248             Buena Vista Pictures
249         Fox Searchlight Pictures

                                               Website
0                                                  NaN
1                          http://www.thegodfather.com
2                         http://www.thegodfather.com/
3                 http://thedarkknight.warnerbros.com/
4    http://www.criterion.com/films/27871-12-angry-men
..                                                 ...
245                                                NaN
246                             http://shortterm12.com
247                                                NaN
248  http://disney.go.com/DisneyPictures/straightst...
249  http://www.foxsearchlight.com/slumdogmillionaire/

[250 rows x 23 columns]

### 11. Summary Statistics

11.1 What are the datatypes for `imdb`?

In [ ]:
df.dtypes

Unnamed: 0      int64
Num             int64
Title          object
Year            int64
Released       object
Runtime        object
Genre          object
Director       object
Writer         object
Actors         object
Plot           object
Language       object
Country        object
Awards         object
Metascore     float64
imdbRating    float64
imdbVotes      object
imdbID         object
Type           object
DVD            object
BoxOffice      object
Production     object
Website        object
dtype: object

11.2 How many rows and columns are present in your dataset?

The IMDB_Top_250 file contains 250 rows and 23 columns.

11.3 Return the first 10 rows and last 10 rows of your dataset

In [ ]:
df.head(10)

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
0,0,1,The Shawshank Redemption,1994,14-Oct-94,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,Nominated for 7 Oscars. Another 19 wins & 30 n...,80.0,9.3,"1,825,626",tt0111161,movie,27-Jan-98,NaN,Columbia Pictures,NaN
1,1,2,The Godfather,1972,24-Mar-72,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,Won 3 Oscars. Another 23 wins & 27 nominations.,100.0,9.2,"1,243,444",tt0068646,movie,9-Oct-01,NaN,Paramount Pictures,http://www.thegodfather.com
2,2,3,The Godfather: Part II,1974,20-Dec-74,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,Won 6 Oscars. Another 10 wins & 20 nominations.,85.0,9.0,"856,870",tt0071562,movie,24-May-05,NaN,Paramount Pictures,http://www.thegodfather.com/
3,3,4,The Dark Knight,2008,18-Jul-08,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,Won 2 Oscars. Another 151 wins & 153 nominations.,82.0,9.0,"1,802,351",tt0468569,movie,9-Dec-08,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/
4,4,5,12 Angry Men,1957,1-Apr-57,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Nominated for 3 Oscars. Another 16 wins & 8 no...,96.0,8.9,"494,215",tt0050083,movie,6-Mar-01,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men
5,5,6,Schindler's List,1993,4-Feb-94,195 min,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally (book), Steven Zaillian (scree...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",...,Won 7 Oscars. Another 71 wins & 33 nominations.,93.0,8.9,"937,837",tt0108052,movie,9-Mar-04,NaN,Universal Pictures,http://www.schindlerslist.com
6,6,7,The Lord of the Rings: The Return of the King,2003,17-Dec-03,201 min,"Adventure, Drama, Fantasy",Peter Jackson,"J.R.R. Tolkien (novel), Fran Walsh (screenplay...","Noel Appleby, Ali Astin, Sean Astin, David Aston",...,Won 11 Oscars. Another 197 wins & 122 nominati...,94.0,8.9,"1,304,569",tt0167260,movie,25-May-04,"$364,000,000",New Line Cinema,http://www.lordoftherings.net/
7,7,8,Pulp Fiction,1994,14-Oct-94,154 min,"Crime, Drama",Quentin Tarantino,"Quentin Tarantino (stories), Roger Avary (stor...","Tim Roth, Amanda Plummer, Laura Lovelace, John...",...,Won 1 Oscar. Another 60 wins & 68 nominations.,94.0,8.9,"1,427,451",tt0110912,movie,19-May-98,NaN,Miramax Films,NaN
8,8,9,Fight Club,1999,15-Oct-99,139 min,Drama,David Fincher,"Chuck Palahniuk (novel), Jim Uhls (screenplay)","Edward Norton, Brad Pitt, Meat Loaf, Zach Grenier",...,Nominated for 1 Oscar. Another 10 wins & 31 no...,66.0,8.8,"1,458,676",tt0137523,movie,6-Jun-00,NaN,20th Century Fox,http://www.foxmovies.com/fightclub/
9,9,10,The Lord of the Rings: The Fellowship of the Ring,2001,19-Dec-01,178 min,"Adventure, Drama, Fantasy",Peter Jackson,"J.R.R. Tolkien (novel), Fran Walsh (screenplay...","Alan Howard, Noel Appleby, Sean Astin, Sala Baker",...,Won 4 Oscars. Another 113 wins & 124 nominations.,92.0,8.8,"1,326,876",tt0120737,movie,6-Aug-02,"$314,000,000",New Line Cinema,http://www.lordoftherings.net/film/trilogy/the...

In [ ]:
df.tail(10)

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
240,240,241,Deadpool,2016,12-Feb-16,108 min,"Action, Adventure, Comedy",Tim Miller,"Rhett Reese, Paul Wernick","Ryan Reynolds, Karan Soni, Ed Skrein, Michael ...",...,Nominated for 2 Golden Globes. Another 23 wins...,65.0,8.0,"644,281",tt1431045,movie,10-May-16,"$328,674,489",20th Century Fox,http://www.foxmovies.com/deadpool
241,241,242,The Wild Bunch,1969,7-Aug-69,135 min,"Action, Adventure, Western",Sam Peckinpah,"Walon Green (screenplay), Sam Peckinpah (scree...","William Holden, Ernest Borgnine, Robert Ryan, ...",...,Nominated for 2 Oscars. Another 5 wins & 4 nom...,NaN,8.0,"65,987",tt0065214,movie,27-Aug-97,NaN,Warner Bros. Pictures,NaN
242,242,243,Aladdin,1992,25-Nov-92,90 min,"Animation, Adventure, Comedy","Ron Clements, John Musker","Ron Clements (screenplay), John Musker (screen...","Scott Weinger, Robin Williams, Linda Larkin, J...",...,Won 2 Oscars. Another 25 wins & 18 nominations.,NaN,8.0,"281,651",tt0103639,movie,5-Oct-04,NaN,Buena Vista Distribution Compa,http://disney.go.com/vault/archives/characters...
243,243,244,Big Fish,2003,9-Jan-04,125 min,"Adventure, Drama, Fantasy",Tim Burton,"Daniel Wallace (novel), John August (screenplay)","Ewan McGregor, Albert Finney, Billy Crudup, Je...",...,Nominated for 1 Oscar. Another 1 win & 68 nomi...,58.0,8.0,"364,938",tt0319061,movie,27-Apr-04,"$66,257,002",Sony Pictures,http://www.sonypictures.com/movies/bigfish/ind...
244,244,245,Patton,1970,2-Apr-70,172 min,"Biography, Drama, War",Franklin J. Schaffner,Francis Ford Coppola (screen story and screenp...,"George C. Scott, Karl Malden, Stephen Young, M...",...,Won 7 Oscars. Another 17 wins & 8 nominations.,91.0,8.0,"80,730",tt0066206,movie,2-Nov-99,NaN,Twentieth Century Fox Home Entertainment,NaN
245,245,246,The Lost Weekend,1945,1-Jan-46,101 min,"Drama, Film-Noir",Billy Wilder,"Charles R. Jackson (from the novel by), Charle...","Ray Milland, Jane Wyman, Phillip Terry, Howard...",...,Won 4 Oscars. Another 12 wins & 3 nominations.,NaN,8.0,"26,834",tt0037884,movie,6-Feb-01,NaN,Paramount Pictures,NaN
246,246,247,Short Term 12,2013,23-Aug-13,96 min,Drama,Destin Daniel Cretton,Destin Daniel Cretton,"Brie Larson, John Gallagher Jr., Stephanie Bea...",...,35 wins & 70 nominations.,82.0,8.0,"62,348",tt2370248,movie,14-Jan-14,NaN,Cinedigm,http://shortterm12.com
247,247,248,His Girl Friday,1940,18-Jan-40,92 min,"Comedy, Drama, Romance",Howard Hawks,"Charles Lederer (screen play), Ben Hecht (from...","Cary Grant, Rosalind Russell, Ralph Bellamy, G...",...,2 wins.,NaN,8.0,"43,551",tt0032599,movie,28-Dec-04,NaN,Columbia Pictures,NaN
248,248,249,The Straight Story,1999,3-Nov-99,112 min,"Biography, Drama",David Lynch,"John Roach, Mary Sweeney","Sissy Spacek, Jane Galloway Heitz, Joseph A. C...",...,Nominated for 1 Oscar. Another 14 wins & 37 no...,86.0,8.0,"67,045",tt0166896,movie,7-Nov-00,NaN,Buena Vista Pictures,http://disney.go.com/DisneyPictures/straightst...
249,249,250,Slumdog Millionaire,2008,25-Dec-08,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",...,Won 8 Oscars. Another 144 wins & 126 nominations.,86.0,8.0,"679,975",tt1010048,movie,31-Mar-09,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/

11.4 Return information about your entire dataset

In [ ]:
df.describe()

       Unnamed: 0         Num         Year   Metascore  imdbRating
count  250.000000  250.000000   250.000000  177.000000  250.000000
mean   124.500000  125.500000  1982.676000   80.045198    8.244000
std     72.312977   72.312977    24.809212   11.030340    0.245735
min      0.000000    1.000000  1921.000000   53.000000    8.000000
25%     62.250000   63.250000  1961.250000   72.000000    8.100000
50%    124.500000  125.500000  1988.000000   81.000000    8.200000
75%    186.750000  187.750000  2003.000000   89.000000    8.375000
max    249.000000  250.000000  2017.000000  100.000000    9.300000

11.5 How many NaNs or missing values are in your dataset? Is there any changes that may need to be done to your dataset to handle such cases

In [ ]:
print(df.isnull().sum())

Unnamed: 0      0
Num             0
Title           0
Year            0
Released        2
Runtime         0
Genre           0
Director        0
Writer          1
Actors          0
Plot            0
Language        0
Country         0
Awards          5
Metascore      73
imdbRating      0
imdbVotes       0
imdbID          0
Type            0
DVD             3
BoxOffice     175
Production      0
Website       119
dtype: int64

11.6 Can you return basic statisitics for atleast 3-5 columns of your dataset? What can you learn from looking at these statistics?

In [ ]:
#basic stats for metascores

#imbdrating
#boxoffice

### 12. Slicing

12.1 Return the entire second column of your dataset

In [ ]:

df['Title']

3          The Dark Knight
5                      Num
6                      Num
7                      Num
8                      Num
              ...
229      The King's Speech
234          Blood Diamond
240               Deadpool
243               Big Fish
249    Slumdog Millionaire
Name: Title, Length: 70, dtype: object

12.2 Return rows 5-10 of the second column of your dataset

In [ ]:
import pandas as pd
import io
from google.colab import files
import io

uploaded = files.upload()

df = pd.read_csv(io.BytesIO(uploaded['IMDB_Top_250.csv']))
print(df)

df.iloc[5:10] = "Title"

Saving IMDB_Top_250.csv to IMDB_Top_250 (3).csv
     Unnamed: 0  Num                     Title  Year   Released  Runtime  \
0             0    1  The Shawshank Redemption  1994  14-Oct-94  142 min
1             1    2             The Godfather  1972  24-Mar-72  175 min
2             2    3    The Godfather: Part II  1974  20-Dec-74  202 min
3             3    4           The Dark Knight  2008  18-Jul-08  152 min
4             4    5              12 Angry Men  1957   1-Apr-57   96 min
..          ...  ...                       ...   ...        ...      ...
245         245  246          The Lost Weekend  1945   1-Jan-46  101 min
246         246  247             Short Term 12  2013  23-Aug-13   96 min
247         247  248           His Girl Friday  1940  18-Jan-40   92 min
248         248  249        The Straight Story  1999   3-Nov-99  112 min
249         249  250       Slumdog Millionaire  2008  25-Dec-08  120 min

                      Genre                      Director  \
0              Crime, Drama                Frank Darabont
1              Crime, Drama          Francis Ford Coppola
2              Crime, Drama          Francis Ford Coppola
3      Action, Crime, Drama             Christopher Nolan
4              Crime, Drama                  Sidney Lumet
..                      ...                           ...
245        Drama, Film-Noir                  Billy Wilder
246                   Drama         Destin Daniel Cretton
247  Comedy, Drama, Romance                  Howard Hawks
248        Biography, Drama                   David Lynch
249                   Drama  Danny Boyle, Loveleen Tandan

                                                Writer  \
0    Stephen King (short story "Rita Hayworth and S...
1    Mario Puzo (screenplay), Francis Ford Coppola ...
2    Francis Ford Coppola (screenplay), Mario Puzo ...
3    Jonathan Nolan (screenplay), Christopher Nolan...
4    Reginald Rose (story), Reginald Rose (screenplay)
..                                                 ...
245  Charles R. Jackson (from the novel by), Charle...
246                              Destin Daniel Cretton
247  Charles Lederer (screen play), Ben Hecht (from...
248                           John Roach, Mary Sweeney
249   Simon Beaufoy (screenplay), Vikas Swarup (novel)

                                                Actors  ...  \
0    Tim Robbins, Morgan Freeman, Bob Gunton, Willi...  ...
1    Marlon Brando, Al Pacino, James Caan, Richard ...  ...
2    Al Pacino, Robert Duvall, Diane Keaton, Robert...  ...
3    Christian Bale, Heath Ledger, Aaron Eckhart, M...  ...
4    Martin Balsam, John Fiedler, Lee J. Cobb, E.G....  ...
..                                                 ...  ...
245  Ray Milland, Jane Wyman, Phillip Terry, Howard...  ...
246  Brie Larson, John Gallagher Jr., Stephanie Bea...  ...
247  Cary Grant, Rosalind Russell, Ralph Bellamy, G...  ...
248  Sissy Spacek, Jane Galloway Heitz, Joseph A. C...  ...
249  Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...  ...

                                                Awards Metascore imdbRating  \
0    Nominated for 7 Oscars. Another 19 wins & 30 n...      80.0        9.3
1      Won 3 Oscars. Another 23 wins & 27 nominations.     100.0        9.2
2      Won 6 Oscars. Another 10 wins & 20 nominations.      85.0        9.0
3    Won 2 Oscars. Another 151 wins & 153 nominations.      82.0        9.0
4    Nominated for 3 Oscars. Another 16 wins & 8 no...      96.0        8.9
..                                                 ...       ...        ...
245     Won 4 Oscars. Another 12 wins & 3 nominations.       NaN        8.0
246                          35 wins & 70 nominations.      82.0        8.0
247                                            2 wins.       NaN        8.0
248  Nominated for 1 Oscar. Another 14 wins & 37 no...      86.0        8.0
249  Won 8 Oscars. Another 144 wins & 126 nominations.      86.0        8.0

     imdbVotes     imdbID   Type        DVD      BoxOffice  \
0    1,825,626  tt0111161  movie  27-Jan-98            NaN
1    1,243,444  tt0068646  movie   9-Oct-01            NaN
2      856,870  tt0071562  movie  24-May-05            NaN
3    1,802,351  tt0468569  movie   9-Dec-08  $533,316,061
4      494,215  tt0050083  movie   6-Mar-01            NaN
..         ...        ...    ...        ...            ...
245     26,834  tt0037884  movie   6-Feb-01            NaN
246     62,348  tt2370248  movie  14-Jan-14            NaN
247     43,551  tt0032599  movie  28-Dec-04            NaN
248     67,045  tt0166896  movie   7-Nov-00            NaN
249    679,975  tt1010048  movie  31-Mar-09  $141,243,551

                          Production  \
0                  Columbia Pictures
1                 Paramount Pictures
2                 Paramount Pictures
3    Warner Bros. Pictures/Legendary
4               Criterion Collection
..                               ...
245               Paramount Pictures
246                         Cinedigm
247                Columbia Pictures
248             Buena Vista Pictures
249         Fox Searchlight Pictures

                                               Website
0                                                  NaN
1                          http://www.thegodfather.com
2                         http://www.thegodfather.com/
3                 http://thedarkknight.warnerbros.com/
4    http://www.criterion.com/films/27871-12-angry-men
..                                                 ...
245                                                NaN
246                             http://shortterm12.com
247                                                NaN
248  http://disney.go.com/DisneyPictures/straightst...
249  http://www.foxsearchlight.com/slumdogmillionaire/

[250 rows x 23 columns]

In [ ]:
df.loc[5:10, 'Title']

5            Title
6            Title
7            Title
8            Title
9            Title
10    Forrest Gump
Name: Title, dtype: object

### 13. Cleaning

13.1 Remove all NaN values from the dataset. Return output that proves there are 0 NaN values

In [ ]:
df.dropna()

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
3,3,4,The Dark Knight,2008,18-Jul-08,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,Won 2 Oscars. Another 151 wins & 153 nominations.,82.0,9.0,"1,802,351",tt0468569,movie,9-Dec-08,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/
5,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
6,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
7,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
8,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,230,The King's Speech,2010,25-Dec-10,118 min,"Biography, Drama",Tom Hooper,David Seidler (screenplay),"Colin Firth, Helena Bonham Carter, Derek Jacob...",...,Won 4 Oscars. Another 103 wins & 194 nominations.,88.0,8.0,"537,662",tt1504320,movie,19-Apr-11,"$138,300,000",The Weinstein Company,http://www.kingsspeech.com/
234,234,235,Blood Diamond,2006,8-Dec-06,143 min,"Adventure, Drama, Thriller",Edward Zwick,"Charles Leavitt (screenplay), Charles Leavitt ...","Leonardo DiCaprio, Djimon Hounsou, Jennifer Co...",...,Nominated for 5 Oscars. Another 8 wins & 26 no...,64.0,8.0,"424,781",tt0450259,movie,20-Mar-07,"$57,300,000",Warner Bros. Pictures,http://www.blooddiamondmovie.com/
240,240,241,Deadpool,2016,12-Feb-16,108 min,"Action, Adventure, Comedy",Tim Miller,"Rhett Reese, Paul Wernick","Ryan Reynolds, Karan Soni, Ed Skrein, Michael ...",...,Nominated for 2 Golden Globes. Another 23 wins...,65.0,8.0,"644,281",tt1431045,movie,10-May-16,"$328,674,489",20th Century Fox,http://www.foxmovies.com/deadpool
243,243,244,Big Fish,2003,9-Jan-04,125 min,"Adventure, Drama, Fantasy",Tim Burton,"Daniel Wallace (novel), John August (screenplay)","Ewan McGregor, Albert Finney, Billy Crudup, Je...",...,Nominated for 1 Oscar. Another 1 win & 68 nomi...,58.0,8.0,"364,938",tt0319061,movie,27-Apr-04,"$66,257,002",Sony Pictures,http://www.sonypictures.com/movies/bigfish/ind...
249,249,250,Slumdog Millionaire,2008,25-Dec-08,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",...,Won 8 Oscars. Another 144 wins & 126 nominations.,86.0,8.0,"679,975",tt1010048,movie,31-Mar-09,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/

In [ ]:
df.dropna(inplace=True)
df

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
3,3,4,The Dark Knight,2008,18-Jul-08,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,Won 2 Oscars. Another 151 wins & 153 nominations.,82.0,9.0,"1,802,351",tt0468569,movie,9-Dec-08,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/
5,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
6,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
7,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
8,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title,...,Title,Title,Title,Title,Title,Title,Title,Title,Title,Title
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,230,The King's Speech,2010,25-Dec-10,118 min,"Biography, Drama",Tom Hooper,David Seidler (screenplay),"Colin Firth, Helena Bonham Carter, Derek Jacob...",...,Won 4 Oscars. Another 103 wins & 194 nominations.,88.0,8.0,"537,662",tt1504320,movie,19-Apr-11,"$138,300,000",The Weinstein Company,http://www.kingsspeech.com/
234,234,235,Blood Diamond,2006,8-Dec-06,143 min,"Adventure, Drama, Thriller",Edward Zwick,"Charles Leavitt (screenplay), Charles Leavitt ...","Leonardo DiCaprio, Djimon Hounsou, Jennifer Co...",...,Nominated for 5 Oscars. Another 8 wins & 26 no...,64.0,8.0,"424,781",tt0450259,movie,20-Mar-07,"$57,300,000",Warner Bros. Pictures,http://www.blooddiamondmovie.com/
240,240,241,Deadpool,2016,12-Feb-16,108 min,"Action, Adventure, Comedy",Tim Miller,"Rhett Reese, Paul Wernick","Ryan Reynolds, Karan Soni, Ed Skrein, Michael ...",...,Nominated for 2 Golden Globes. Another 23 wins...,65.0,8.0,"644,281",tt1431045,movie,10-May-16,"$328,674,489",20th Century Fox,http://www.foxmovies.com/deadpool
243,243,244,Big Fish,2003,9-Jan-04,125 min,"Adventure, Drama, Fantasy",Tim Burton,"Daniel Wallace (novel), John August (screenplay)","Ewan McGregor, Albert Finney, Billy Crudup, Je...",...,Nominated for 1 Oscar. Another 1 win & 68 nomi...,58.0,8.0,"364,938",tt0319061,movie,27-Apr-04,"$66,257,002",Sony Pictures,http://www.sonypictures.com/movies/bigfish/ind...
249,249,250,Slumdog Millionaire,2008,25-Dec-08,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",...,Won 8 Oscars. Another 144 wins & 126 nominations.,86.0,8.0,"679,975",tt1010048,movie,31-Mar-09,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/

In [ ]:
print(df.isnull().sum())

Unnamed: 0    0
Num           0
Title         0
Year          0
Released      0
Runtime       0
Genre         0
Director      0
Writer        0
Actors        0
Plot          0
Language      0
Country       0
Awards        0
Metascore     0
imdbRating    0
imdbVotes     0
imdbID        0
Type          0
DVD           0
BoxOffice     0
Production    0
Website       0
dtype: int64

### 14. Sorting

14.1 Sort your dataset via a specific column in ascending order. What column might be best to sort your dataset by?

In [ ]:
df.sort_values("imdbVotes")

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
48,48,49,Django Unchained,2012,25-Dec-12,165 min,"Drama, Western",Quentin Tarantino,Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",...,Won 2 Oscars. Another 56 wins & 151 nominations.,81.0,8.4,"1,047,465",tt1853728,movie,16-Apr-13,"$162,804,648",The Weinstein Co.,http://unchainedmovie.com/
219,219,220,The Avengers,2012,4-May-12,143 min,"Action, Sci-Fi",Joss Whedon,"Joss Whedon (screenplay), Zak Penn (story), Jo...","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",...,Nominated for 1 Oscar. Another 37 wins & 79 no...,69.0,8.1,"1,051,143",tt0848228,movie,25-Sep-12,"$623,279,547",Walt Disney Pictures,http://marvel.com/avengers_movie
89,89,90,Batman Begins,2005,15-Jun-05,140 min,"Action, Adventure",Christopher Nolan,"Bob Kane (characters), David S. Goyer (story),...","Christian Bale, Michael Caine, Liam Neeson, Ka...",...,Nominated for 1 Oscar. Another 14 wins & 71 no...,70.0,8.3,"1,053,569",tt0372784,movie,18-Oct-05,"$204,100,000",Warner Bros. Pictures,http://www.batmanbegins.com/
25,25,26,Interstellar,2014,7-Nov-14,169 min,"Adventure, Drama, Sci-Fi",Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Ellen Burstyn, Matthew McConaughey, Mackenzie ...",...,Won 1 Oscar. Another 41 wins & 142 nominations.,74.0,8.6,"1,057,411",tt0816692,movie,31-Mar-15,"$158,737,441",Paramount Pictures,http://www.InterstellarMovie.com/
38,38,39,Gladiator,2000,5-May-00,155 min,"Action, Adventure, Drama",Ridley Scott,"David Franzoni (story), David Franzoni (screen...","Russell Crowe, Joaquin Phoenix, Connie Nielsen...",...,Won 5 Oscars. Another 53 wins & 101 nominations.,67.0,8.5,"1,059,523",tt0172495,movie,21-Nov-00,NaN,Dreamworks Distribution LLC,http://www.gladiator-thefilm.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,34,35,The Departed,2006,6-Oct-06,151 min,"Crime, Drama, Thriller",Martin Scorsese,"William Monahan (screenplay), Alan Mak, Felix ...","Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",...,Won 4 Oscars. Another 92 wins & 134 nominations.,85.0,8.5,"943,314",tt0407887,movie,13-Feb-07,"$132,300,000",Warner Bros. Pictures,http://www.thedeparted.com/
23,23,24,Saving Private Ryan,1998,24-Jul-98,169 min,"Drama, War",Steven Spielberg,Robert Rodat,"Tom Hanks, Tom Sizemore, Edward Burns, Barry P...",...,Won 5 Oscars. Another 74 wins & 74 nominations.,90.0,8.6,"960,639",tt0120815,movie,2-Nov-99,NaN,Paramount Pictures,http://https://www.facebook.com/SavingPrivateR...
20,20,21,The Silence of the Lambs,1991,14-Feb-91,118 min,"Crime, Drama, Thriller",Jonathan Demme,"Thomas Harris (novel), Ted Tally (screenplay)","Jodie Foster, Lawrence A. Bonney, Kasi Lemmons...",...,Won 5 Oscars. Another 49 wins & 37 nominations.,84.0,8.6,"967,878",tt0102926,movie,1-Jul-98,NaN,Orion Pictures Corporation,NaN
78,78,79,Inglourious Basterds,2009,21-Aug-09,153 min,"Adventure, Drama, War","Quentin Tarantino, Eli Roth",Quentin Tarantino,"Brad Pitt, Mlanie Laurent, Christoph Waltz...",...,Won 1 Oscar. Another 129 wins & 165 nominations.,69.0,8.3,"969,927",tt0361748,movie,15-Dec-09,"$120,523,073",The Weinstein Company,http://www.inglouriousbasterds-movie.com/
17,17,18,Star Wars: Episode IV - A New Hope,1977,25-May-77,121 min,"Action, Adventure, Fantasy",George Lucas,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Pet...",...,Won 6 Oscars. Another 50 wins & 28 nominations.,92.0,8.7,"982,688",tt0076759,movie,21-Sep-04,NaN,20th Century Fox,http://www.starwars.com/episode-iv/

14.2 If you have multiple rows with the same information or numerical data, how would you handle ties in the sorting function?

Python will sort the tied rows in the same way they were in before the sorting. A programmer can utilize the sort_index() method usng numpy.argsort() with default kind=quicksort, if you are soring only by one column. (source: https://stackoverflow.com/questions/19580900/how-is-pandas-deciding-order-in-a-sort-when-there-is-a-tie)

14.3 Try to sort your data in the following ways (there are more ways than this to understand your dataset):
        
        1. Find the top 10 least values of a specific column (make sure column has numerical data inside)
        2. Can you sort the data to find the 10 greatest values of a different column?

In [ ]:
df.sort_values('imdbID')
print(df)

     Unnamed: 0  Num                     Title  Year   Released  Runtime  \
0             0    1  The Shawshank Redemption  1994  14-Oct-94  142 min
1             1    2             The Godfather  1972  24-Mar-72  175 min
2             2    3    The Godfather: Part II  1974  20-Dec-74  202 min
3             3    4           The Dark Knight  2008  18-Jul-08  152 min
4             4    5              12 Angry Men  1957   1-Apr-57   96 min
..          ...  ...                       ...   ...        ...      ...
245         245  246          The Lost Weekend  1945   1-Jan-46  101 min
246         246  247             Short Term 12  2013  23-Aug-13   96 min
247         247  248           His Girl Friday  1940  18-Jan-40   92 min
248         248  249        The Straight Story  1999   3-Nov-99  112 min
249         249  250       Slumdog Millionaire  2008  25-Dec-08  120 min

                      Genre                      Director  \
0              Crime, Drama                Frank Darabont
1              Crime, Drama          Francis Ford Coppola
2              Crime, Drama          Francis Ford Coppola
3      Action, Crime, Drama             Christopher Nolan
4              Crime, Drama                  Sidney Lumet
..                      ...                           ...
245        Drama, Film-Noir                  Billy Wilder
246                   Drama         Destin Daniel Cretton
247  Comedy, Drama, Romance                  Howard Hawks
248        Biography, Drama                   David Lynch
249                   Drama  Danny Boyle, Loveleen Tandan

                                                Writer  \
0    Stephen King (short story "Rita Hayworth and S...
1    Mario Puzo (screenplay), Francis Ford Coppola ...
2    Francis Ford Coppola (screenplay), Mario Puzo ...
3    Jonathan Nolan (screenplay), Christopher Nolan...
4    Reginald Rose (story), Reginald Rose (screenplay)
..                                                 ...
245  Charles R. Jackson (from the novel by), Charle...
246                              Destin Daniel Cretton
247  Charles Lederer (screen play), Ben Hecht (from...
248                           John Roach, Mary Sweeney
249   Simon Beaufoy (screenplay), Vikas Swarup (novel)

                                                Actors  ...  \
0    Tim Robbins, Morgan Freeman, Bob Gunton, Willi...  ...
1    Marlon Brando, Al Pacino, James Caan, Richard ...  ...
2    Al Pacino, Robert Duvall, Diane Keaton, Robert...  ...
3    Christian Bale, Heath Ledger, Aaron Eckhart, M...  ...
4    Martin Balsam, John Fiedler, Lee J. Cobb, E.G....  ...
..                                                 ...  ...
245  Ray Milland, Jane Wyman, Phillip Terry, Howard...  ...
246  Brie Larson, John Gallagher Jr., Stephanie Bea...  ...
247  Cary Grant, Rosalind Russell, Ralph Bellamy, G...  ...
248  Sissy Spacek, Jane Galloway Heitz, Joseph A. C...  ...
249  Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...  ...

                                                Awards Metascore imdbRating  \
0    Nominated for 7 Oscars. Another 19 wins & 30 n...      80.0        9.3
1      Won 3 Oscars. Another 23 wins & 27 nominations.     100.0        9.2
2      Won 6 Oscars. Another 10 wins & 20 nominations.      85.0        9.0
3    Won 2 Oscars. Another 151 wins & 153 nominations.      82.0        9.0
4    Nominated for 3 Oscars. Another 16 wins & 8 no...      96.0        8.9
..                                                 ...       ...        ...
245     Won 4 Oscars. Another 12 wins & 3 nominations.       NaN        8.0
246                          35 wins & 70 nominations.      82.0        8.0
247                                            2 wins.       NaN        8.0
248  Nominated for 1 Oscar. Another 14 wins & 37 no...      86.0        8.0
249  Won 8 Oscars. Another 144 wins & 126 nominations.      86.0        8.0

     imdbVotes     imdbID   Type        DVD      BoxOffice  \
0    1,825,626  tt0111161  movie  27-Jan-98            NaN
1    1,243,444  tt0068646  movie   9-Oct-01            NaN
2      856,870  tt0071562  movie  24-May-05            NaN
3    1,802,351  tt0468569  movie   9-Dec-08  $533,316,061
4      494,215  tt0050083  movie   6-Mar-01            NaN
..         ...        ...    ...        ...            ...
245     26,834  tt0037884  movie   6-Feb-01            NaN
246     62,348  tt2370248  movie  14-Jan-14            NaN
247     43,551  tt0032599  movie  28-Dec-04            NaN
248     67,045  tt0166896  movie   7-Nov-00            NaN
249    679,975  tt1010048  movie  31-Mar-09  $141,243,551

                          Production  \
0                  Columbia Pictures
1                 Paramount Pictures
2                 Paramount Pictures
3    Warner Bros. Pictures/Legendary
4               Criterion Collection
..                               ...
245               Paramount Pictures
246                         Cinedigm
247                Columbia Pictures
248             Buena Vista Pictures
249         Fox Searchlight Pictures

                                               Website
0                                                  NaN
1                          http://www.thegodfather.com
2                         http://www.thegodfather.com/
3                 http://thedarkknight.warnerbros.com/
4    http://www.criterion.com/films/27871-12-angry-men
..                                                 ...
245                                                NaN
246                             http://shortterm12.com
247                                                NaN
248  http://disney.go.com/DisneyPictures/straightst...
249  http://www.foxsearchlight.com/slumdogmillionaire/

[250 rows x 23 columns]

### 15. Custom Columns

15.1 Make a custom column in your dataset. Make sure to name it appropriately!

In [ ]:
import pandas as pd
import io
from google.colab import files
import io

uploaded = files.upload()

df = pd.read_csv(io.BytesIO(uploaded['IMDB_Top_250.csv']))
print(df)

Saving IMDB_Top_250.csv to IMDB_Top_250 (5).csv
     Unnamed: 0  Num                     Title  Year   Released  Runtime  \
0             0    1  The Shawshank Redemption  1994  14-Oct-94  142 min
1             1    2             The Godfather  1972  24-Mar-72  175 min
2             2    3    The Godfather: Part II  1974  20-Dec-74  202 min
3             3    4           The Dark Knight  2008  18-Jul-08  152 min
4             4    5              12 Angry Men  1957   1-Apr-57   96 min
..          ...  ...                       ...   ...        ...      ...
245         245  246          The Lost Weekend  1945   1-Jan-46  101 min
246         246  247             Short Term 12  2013  23-Aug-13   96 min
247         247  248           His Girl Friday  1940  18-Jan-40   92 min
248         248  249        The Straight Story  1999   3-Nov-99  112 min
249         249  250       Slumdog Millionaire  2008  25-Dec-08  120 min

                      Genre                      Director  \
0              Crime, Drama                Frank Darabont
1              Crime, Drama          Francis Ford Coppola
2              Crime, Drama          Francis Ford Coppola
3      Action, Crime, Drama             Christopher Nolan
4              Crime, Drama                  Sidney Lumet
..                      ...                           ...
245        Drama, Film-Noir                  Billy Wilder
246                   Drama         Destin Daniel Cretton
247  Comedy, Drama, Romance                  Howard Hawks
248        Biography, Drama                   David Lynch
249                   Drama  Danny Boyle, Loveleen Tandan

                                                Writer  \
0    Stephen King (short story "Rita Hayworth and S...
1    Mario Puzo (screenplay), Francis Ford Coppola ...
2    Francis Ford Coppola (screenplay), Mario Puzo ...
3    Jonathan Nolan (screenplay), Christopher Nolan...
4    Reginald Rose (story), Reginald Rose (screenplay)
..                                                 ...
245  Charles R. Jackson (from the novel by), Charle...
246                              Destin Daniel Cretton
247  Charles Lederer (screen play), Ben Hecht (from...
248                           John Roach, Mary Sweeney
249   Simon Beaufoy (screenplay), Vikas Swarup (novel)

                                                Actors  ...  \
0    Tim Robbins, Morgan Freeman, Bob Gunton, Willi...  ...
1    Marlon Brando, Al Pacino, James Caan, Richard ...  ...
2    Al Pacino, Robert Duvall, Diane Keaton, Robert...  ...
3    Christian Bale, Heath Ledger, Aaron Eckhart, M...  ...
4    Martin Balsam, John Fiedler, Lee J. Cobb, E.G....  ...
..                                                 ...  ...
245  Ray Milland, Jane Wyman, Phillip Terry, Howard...  ...
246  Brie Larson, John Gallagher Jr., Stephanie Bea...  ...
247  Cary Grant, Rosalind Russell, Ralph Bellamy, G...  ...
248  Sissy Spacek, Jane Galloway Heitz, Joseph A. C...  ...
249  Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...  ...

                                                Awards Metascore imdbRating  \
0    Nominated for 7 Oscars. Another 19 wins & 30 n...      80.0        9.3
1      Won 3 Oscars. Another 23 wins & 27 nominations.     100.0        9.2
2      Won 6 Oscars. Another 10 wins & 20 nominations.      85.0        9.0
3    Won 2 Oscars. Another 151 wins & 153 nominations.      82.0        9.0
4    Nominated for 3 Oscars. Another 16 wins & 8 no...      96.0        8.9
..                                                 ...       ...        ...
245     Won 4 Oscars. Another 12 wins & 3 nominations.       NaN        8.0
246                          35 wins & 70 nominations.      82.0        8.0
247                                            2 wins.       NaN        8.0
248  Nominated for 1 Oscar. Another 14 wins & 37 no...      86.0        8.0
249  Won 8 Oscars. Another 144 wins & 126 nominations.      86.0        8.0

     imdbVotes     imdbID   Type        DVD      BoxOffice  \
0    1,825,626  tt0111161  movie  27-Jan-98            NaN
1    1,243,444  tt0068646  movie   9-Oct-01            NaN
2      856,870  tt0071562  movie  24-May-05            NaN
3    1,802,351  tt0468569  movie   9-Dec-08  $533,316,061
4      494,215  tt0050083  movie   6-Mar-01            NaN
..         ...        ...    ...        ...            ...
245     26,834  tt0037884  movie   6-Feb-01            NaN
246     62,348  tt2370248  movie  14-Jan-14            NaN
247     43,551  tt0032599  movie  28-Dec-04            NaN
248     67,045  tt0166896  movie   7-Nov-00            NaN
249    679,975  tt1010048  movie  31-Mar-09  $141,243,551

                          Production  \
0                  Columbia Pictures
1                 Paramount Pictures
2                 Paramount Pictures
3    Warner Bros. Pictures/Legendary
4               Criterion Collection
..                               ...
245               Paramount Pictures
246                         Cinedigm
247                Columbia Pictures
248             Buena Vista Pictures
249         Fox Searchlight Pictures

                                               Website
0                                                  NaN
1                          http://www.thegodfather.com
2                         http://www.thegodfather.com/
3                 http://thedarkknight.warnerbros.com/
4    http://www.criterion.com/films/27871-12-angry-men
..                                                 ...
245                                                NaN
246                             http://shortterm12.com
247                                                NaN
248  http://disney.go.com/DisneyPictures/straightst...
249  http://www.foxsearchlight.com/slumdogmillionaire/

[250 rows x 23 columns]

In [ ]:
df['Soundtrack'] = pd.NaT
df

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Soundtrack
0,0,1,The Shawshank Redemption,1994,14-Oct-94,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,80.0,9.3,"1,825,626",tt0111161,movie,27-Jan-98,NaN,Columbia Pictures,NaN,NaT
1,1,2,The Godfather,1972,24-Mar-72,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,100.0,9.2,"1,243,444",tt0068646,movie,9-Oct-01,NaN,Paramount Pictures,http://www.thegodfather.com,NaT
2,2,3,The Godfather: Part II,1974,20-Dec-74,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,85.0,9.0,"856,870",tt0071562,movie,24-May-05,NaN,Paramount Pictures,http://www.thegodfather.com/,NaT
3,3,4,The Dark Knight,2008,18-Jul-08,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,82.0,9.0,"1,802,351",tt0468569,movie,9-Dec-08,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,NaT
4,4,5,12 Angry Men,1957,1-Apr-57,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,96.0,8.9,"494,215",tt0050083,movie,6-Mar-01,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,246,The Lost Weekend,1945,1-Jan-46,101 min,"Drama, Film-Noir",Billy Wilder,"Charles R. Jackson (from the novel by), Charle...","Ray Milland, Jane Wyman, Phillip Terry, Howard...",...,NaN,8.0,"26,834",tt0037884,movie,6-Feb-01,NaN,Paramount Pictures,NaN,NaT
246,246,247,Short Term 12,2013,23-Aug-13,96 min,Drama,Destin Daniel Cretton,Destin Daniel Cretton,"Brie Larson, John Gallagher Jr., Stephanie Bea...",...,82.0,8.0,"62,348",tt2370248,movie,14-Jan-14,NaN,Cinedigm,http://shortterm12.com,NaT
247,247,248,His Girl Friday,1940,18-Jan-40,92 min,"Comedy, Drama, Romance",Howard Hawks,"Charles Lederer (screen play), Ben Hecht (from...","Cary Grant, Rosalind Russell, Ralph Bellamy, G...",...,NaN,8.0,"43,551",tt0032599,movie,28-Dec-04,NaN,Columbia Pictures,NaN,NaT
248,248,249,The Straight Story,1999,3-Nov-99,112 min,"Biography, Drama",David Lynch,"John Roach, Mary Sweeney","Sissy Spacek, Jane Galloway Heitz, Joseph A. C...",...,86.0,8.0,"67,045",tt0166896,movie,7-Nov-00,NaN,Buena Vista Pictures,http://disney.go.com/DisneyPictures/straightst...,NaT
249,249,250,Slumdog Millionaire,2008,25-Dec-08,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",...,86.0,8.0,"679,975",tt1010048,movie,31-Mar-09,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/,NaT

15.2 Make a column that has a category assigned to it if it is above a certain threshold. 

Rememeber from wine data, you were asked to: Make a column called quality based on if a wine has a rating above 6. Then, count the values!

### 16. Group By

16.1 Group your data by a specific column to give you insight on what your data might be showing. Are there any trends you can explain?

In [ ]:
#first grouping based on "Metascore"
score = df.groupby(['Metascore']).sum()

print(score)

                          Unnamed: 0                        Num  \
Metascore
58.0                             243                        244
60.0                             209                        210
62.0                             306                        308
63.0                             344                        346
64.0                             234                        235
65.0                             240                        241
66.0                              40                         41
68.0                             226                        228
69.0                             494                        497
70.0                              89                         90
71.0                             230                        232
72.0                             124                        125
73.0                             135                        136
74.0                             346                        350
75.0                             257                        259
76.0                             377                        379
77.0                             107                        108
78.0                             434                        437
79.0                             143                        144
80.0                             264                        266
81.0                             228                        231
82.0                              13                         15
83.0                              39                         40
85.0                             248                        251
86.0                             553                        557
87.0                             168                        169
88.0                             490                        494
89.0                              69                         70
90.0                             494                        497
91.0                             132                        133
92.0                             207                        209
93.0                             106                        107
94.0                             155                        157
95.0                             196                        197
96.0                             157                        158
100.0                            184                        185
Title      TitleTitleTitleTitleTitle  TitleTitleTitleTitleTitle

                                                       Title  \
Metascore
58.0                                                Big Fish
60.0                                                Dogville
62.0                                  V for VendettaThe Help
63.0       Shutter IslandPirates of the Caribbean: The Cu...
64.0                                           Blood Diamond
65.0                                                Deadpool
66.0                                            The Prestige
68.0                        Requiem for a DreamJurassic Park
69.0                    Inglourious BasterdsLionThe Avengers
70.0                                           Batman Begins
71.0                                    WarriorHacksaw Ridge
72.0                                             Gran Torino
73.0                                           Into the Wild
74.0       InceptionInterstellarHow to Train Your DragonP...
75.0                             The Wolf of Wall StreetRush
76.0              Catch Me If You CanGuardians of the Galaxy
77.0                                                   Logan
78.0             The Dark Knight RisesMonsters, Inc.Zootopia
79.0                                            Hotel Rwanda
80.0                                      MementoThe Martian
81.0       Star Wars: Episode V - The Empire Strikes Back...
82.0                             The Dark KnightForrest Gump
83.0                                           The Lion King
85.0             The PianistThe DepartedThe Bourne Ultimatum
86.0       Back to the FutureRoomMillion Dollar BabySlumd...
87.0            Harry Potter and the Deathly Hallows: Part 2
88.0       The Lord of the Rings: The Two TowersUpThe Gra...
89.0                   Eternal Sunshine of the Spotless Mind
90.0             Finding NemoMad Max: Fury RoadBefore Sunset
91.0                                  No Country for Old Men
92.0                          Toy Story 3There Will Be Blood
93.0                                              La La Land
94.0                                     WALLEInside Out
95.0                                    Beauty and the Beast
96.0                                        12 Years a Slave
100.0                                       The Wizard of Oz
Title                              TitleTitleTitleTitleTitle

                                Year                              Released  \
Metascore
58.0                            2003                              9-Jan-04
60.0                            2003                             23-Apr-04
62.0                            4016                    17-Mar-0610-Aug-11
63.0                            4013                     19-Feb-109-Jul-03
64.0                            2006                              8-Dec-06
65.0                            2016                             12-Feb-16
66.0                            2006                             20-Oct-06
68.0                            3993                    15-Dec-0011-Jun-93
69.0                            6037             21-Aug-096-Jan-174-May-12
70.0                            2005                             15-Jun-05
71.0                            4027                      9-Sep-114-Nov-16
72.0                            2008                              9-Jan-09
73.0                            2007                             19-Oct-07
74.0                            8047   16-Jul-107-Nov-1426-Mar-1020-Sep-13
75.0                            4026                    25-Dec-1327-Sep-13
76.0                            4016                     25-Dec-021-Aug-14
77.0                            2017                              3-Mar-17
78.0                            6029             20-Jul-122-Nov-014-Mar-16
79.0                            2004                              4-Feb-05
80.0                            4015                     25-May-012-Oct-15
81.0                            6007           20-Jun-8025-Dec-1218-Dec-15
82.0                            4002                     18-Jul-086-Jul-94
83.0                            1994                             24-Jun-94
85.0                            6015             28-Mar-036-Oct-063-Aug-07
86.0                            8012   3-Jul-8522-Jan-1628-Jan-0525-Dec-08
87.0                            2011                             15-Jul-11
88.0                            8035  18-Dec-0229-May-0928-Mar-1425-Dec-10
89.0                            2004                             19-Mar-04
90.0                            6022           30-May-0315-May-1530-Jul-04
91.0                            2007                             21-Nov-07
92.0                            4017                    18-Jun-1025-Jan-08
93.0                            2016                             25-Dec-16
94.0                            4023                    27-Jun-0819-Jun-15
95.0                            1991                             22-Nov-91
96.0                            2013                              8-Nov-13
100.0                           1939                             25-Aug-39
Title      TitleTitleTitleTitleTitle             TitleTitleTitleTitleTitle

                                Runtime  \
Metascore
58.0                            125 min
60.0                            178 min
62.0                     132 min146 min
63.0                     138 min143 min
64.0                            143 min
65.0                            108 min
66.0                            130 min
68.0                     102 min127 min
69.0              153 min118 min143 min
70.0                            140 min
71.0                     140 min139 min
72.0                            116 min
73.0                            148 min
74.0        148 min169 min98 min153 min
75.0                     180 min123 min
76.0                     141 min121 min
77.0                            137 min
78.0               164 min92 min108 min
79.0                            121 min
80.0                     113 min144 min
81.0              124 min165 min136 min
82.0                     152 min142 min
83.0                             88 min
85.0              150 min151 min115 min
86.0       116 min118 min132 min120 min
87.0                            130 min
88.0         179 min96 min99 min118 min
89.0                            108 min
90.0               100 min120 min80 min
91.0                            122 min
92.0                     103 min158 min
93.0                            128 min
94.0                       98 min95 min
95.0                             84 min
96.0                            134 min
100.0                           102 min
Title         TitleTitleTitleTitleTitle

                                                       Genre  \
Metascore
58.0                               Adventure, Drama, Fantasy
60.0                                            Crime, Drama
62.0                            Action, Drama, ThrillerDrama
63.0             Mystery, ThrillerAction, Adventure, Fantasy
64.0                              Adventure, Drama, Thriller
65.0                               Action, Adventure, Comedy
66.0                                  Drama, Mystery, Sci-Fi
68.0                        DramaAdventure, Sci-Fi, Thriller
69.0       Adventure, Drama, WarBiography, DramaAction, S...
70.0                                       Action, Adventure
71.0           Action, Drama, SportBiography, Drama, History
72.0                                                   Drama
73.0                             Adventure, Biography, Drama
74.0       Action, Adventure, Sci-FiAdventure, Drama, Sci...
75.0        Biography, Comedy, CrimeAction, Biography, Drama
76.0        Biography, Crime, DramaAction, Adventure, Sci-Fi
77.0                                   Action, Drama, Sci-Fi
78.0       Action, ThrillerAnimation, Adventure, ComedyAn...
79.0                               Biography, Drama, History
80.0               Mystery, ThrillerAdventure, Drama, Sci-Fi
81.0       Action, Adventure, FantasyDrama, WesternAction...
82.0              Action, Crime, DramaComedy, Drama, Romance
83.0                             Animation, Adventure, Drama
85.0       Biography, Drama, MusicCrime, Drama, ThrillerA...
86.0         Adventure, Comedy, Sci-FiDramaDrama, SportDrama
87.0                               Adventure, Drama, Fantasy
88.0       Adventure, Drama, FantasyAnimation, Adventure,...
89.0                                  Drama, Romance, Sci-Fi
90.0       Animation, Adventure, ComedyAction, Adventure,...
91.0                                  Crime, Drama, Thriller
92.0              Animation, Adventure, ComedyDrama, History
93.0                                    Comedy, Drama, Music
94.0       Animation, Adventure, FamilyAnimation, Adventu...
95.0                              Animation, Family, Fantasy
96.0                               Biography, Drama, History
100.0                             Adventure, Family, Fantasy
Title                              TitleTitleTitleTitleTitle

                                                    Director  \
Metascore
58.0                                              Tim Burton
60.0                                          Lars von Trier
62.0                               James McTeigueTate Taylor
63.0                           Martin ScorseseGore Verbinski
64.0                                            Edward Zwick
65.0                                              Tim Miller
66.0                                       Christopher Nolan
68.0                        Darren AronofskySteven Spielberg
69.0       Quentin Tarantino, Eli RothGarth DavisJoss Whedon
70.0                                       Christopher Nolan
71.0                                Gavin O'ConnorMel Gibson
72.0                                          Clint Eastwood
73.0                                               Sean Penn
74.0       Christopher NolanChristopher NolanDean DeBlois...
75.0                               Martin ScorseseRon Howard
76.0                              Steven SpielbergJames Gunn
77.0                                           James Mangold
78.0       Christopher NolanPete Docter, David Silverman,...
79.0                                            Terry George
80.0                           Christopher NolanRidley Scott
81.0              Irvin KershnerQuentin TarantinoJ.J. Abrams
82.0                        Christopher NolanRobert Zemeckis
83.0                               Roger Allers, Rob Minkoff
85.0            Roman PolanskiMartin ScorsesePaul Greengrass
86.0       Robert ZemeckisLenny AbrahamsonClint EastwoodD...
87.0                                             David Yates
88.0       Peter JacksonPete Docter, Bob PetersonWes Ande...
89.0                                           Michel Gondry
90.0       Andrew Stanton, Lee UnkrichGeorge MillerRichar...
91.0                                   Ethan Coen, Joel Coen
92.0                         Lee UnkrichPaul Thomas Anderson
93.0                                         Damien Chazelle
94.0            Andrew StantonPete Docter, Ronnie Del Carmen
95.0                               Gary Trousdale, Kirk Wise
96.0                                           Steve McQueen
100.0      Victor Fleming, George Cukor, Mervyn LeRoy, No...
Title                              TitleTitleTitleTitleTitle

                                                      Writer  \
Metascore
58.0        Daniel Wallace (novel), John August (screenplay)
60.0                                          Lars von Trier
62.0       Lilly Wachowski (screenplay), Lana Wachowski (...
63.0       Laeta Kalogridis (screenplay), Dennis Lehane (...
64.0       Charles Leavitt (screenplay), Charles Leavitt ...
65.0                               Rhett Reese, Paul Wernick
66.0       Jonathan Nolan (screenplay), Christopher Nolan...
68.0       Hubert Selby Jr. (based on the book by), Huber...
69.0       Quentin TarantinoSaroo Brierley (adapted from ...
70.0       Bob Kane (characters), David S. Goyer (story),...
71.0       Gavin O'Connor (screenplay), Anthony Tambakis ...
72.0       Nick Schenk (screenplay), Dave Johannson (stor...
73.0             Sean Penn (screenplay), Jon Krakauer (book)
74.0       Christopher NolanJonathan Nolan, Christopher N...
75.0       Terence Winter (screenplay), Jordan Belfort (b...
76.0       Jeff Nathanson (screenplay), Frank Abagnale Jr...
77.0       James Mangold (story by), Scott Frank (screenp...
78.0       Jonathan Nolan (screenplay), Christopher Nolan...
79.0                              Keir Pearson, Terry George
80.0       Christopher Nolan (screenplay), Jonathan Nolan...
81.0       Leigh Brackett (screenplay), Lawrence Kasdan (...
82.0       Jonathan Nolan (screenplay), Christopher Nolan...
83.0       Irene Mecchi (screenplay), Jonathan Roberts (s...
85.0       Ronald Harwood (screenplay), Wladyslaw Szpilma...
86.0       Robert Zemeckis, Bob GaleEmma Donoghue (screen...
87.0         Steve Kloves (screenplay), J.K. Rowling (novel)
88.0       J.R.R. Tolkien (novel), Fran Walsh (screenplay...
89.0       Charlie Kaufman (story), Michel Gondry (story)...
90.0       Andrew Stanton (original story by), Andrew Sta...
91.0       Joel Coen (screenplay), Ethan Coen (screenplay...
92.0       John Lasseter (story by), Andrew Stanton (stor...
93.0                                         Damien Chazelle
94.0       Andrew Stanton (original story by), Pete Docte...
95.0       Linda Woolverton (animation screenplay by), Br...
96.0       John Ridley (screenplay), Solomon Northup (bas...
100.0      Noel Langley (screenplay), Florence Ryerson (s...
Title                              TitleTitleTitleTitleTitle

                                                      Actors  ...  \
Metascore                                                     ...
58.0       Ewan McGregor, Albert Finney, Billy Crudup, Je...  ...
60.0       Nicole Kidman, Harriet Andersson, Lauren Bacal...  ...
62.0       Natalie Portman, Hugo Weaving, Stephen Rea, St...  ...
63.0       Leonardo DiCaprio, Mark Ruffalo, Ben Kingsley,...  ...
64.0       Leonardo DiCaprio, Djimon Hounsou, Jennifer Co...  ...
65.0       Ryan Reynolds, Karan Soni, Ed Skrein, Michael ...  ...
66.0       Hugh Jackman, Christian Bale, Michael Caine, P...  ...
68.0       Ellen Burstyn, Jared Leto, Jennifer Connelly, ...  ...
69.0       Brad Pitt, Mlanie Laurent, Christoph Waltz...  ...
70.0       Christian Bale, Michael Caine, Liam Neeson, Ka...  ...
71.0       Joel Edgerton, Tom Hardy, Nick Nolte, Jennifer...  ...
72.0       Clint Eastwood, Christopher Carley, Bee Vang, ...  ...
73.0       Emile Hirsch, Marcia Gay Harden, William Hurt,...  ...
74.0       Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...  ...
75.0       Leonardo DiCaprio, Jonah Hill, Margot Robbie, ...  ...
76.0       Leonardo DiCaprio, Tom Hanks, Christopher Walk...  ...
77.0       Hugh Jackman, Patrick Stewart, Dafne Keen, Boy...  ...
78.0       Christian Bale, Gary Oldman, Tom Hardy, Joseph...  ...
79.0       Don Cheadle, Xolani Mali, Desmond Dube, Hakeem...  ...
80.0       Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...  ...
81.0       Mark Hamill, Harrison Ford, Carrie Fisher, Bil...  ...
82.0       Christian Bale, Heath Ledger, Aaron Eckhart, M...  ...
83.0       Rowan Atkinson, Matthew Broderick, Niketa Cala...  ...
85.0       Adrien Brody, Emilia Fox, Michal Zebrowski, Ed...  ...
86.0       Michael J. Fox, Christopher Lloyd, Lea Thompso...  ...
87.0       Ralph Fiennes, Michael Gambon, Alan Rickman, D...  ...
88.0       Bruce Allpress, Sean Astin, John Bach, Sala Ba...  ...
89.0       Jim Carrey, Kate Winslet, Gerry Robert Byrne, ...  ...
90.0       Albert Brooks, Ellen DeGeneres, Alexander Goul...  ...
91.0       Tommy Lee Jones, Javier Bardem, Josh Brolin, W...  ...
92.0       Tom Hanks, Tim Allen, Joan Cusack, Ned BeattyD...  ...
93.0       Ryan Gosling, Emma Stone, Amie Conn, Terry...  ...
94.0       Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...  ...
95.0       Robby Benson, Jesse Corti, Rex Everhart, Angel...  ...
96.0       Chiwetel Ejiofor, Dwight Henry, Dickie Gravois...  ...
100.0      Judy Garland, Frank Morgan, Ray Bolger, Bert Lahr  ...
Title                              TitleTitleTitleTitleTitle  ...

                                                     Country  \
Metascore
58.0                                                     USA
60.0       Netherlands, Denmark, UK, France, Finland, Swe...
62.0        USA, UK, GermanyUSA, India, United Arab Emirates
63.0                                                  USAUSA
64.0                                            Germany, USA
65.0                                                     USA
66.0                                                 USA, UK
68.0                                                  USAUSA
69.0                       USA, GermanyUK, Australia, USAUSA
70.0                                                 USA, UK
71.0                                       USAAustralia, USA
72.0                                            Germany, USA
73.0                                                     USA
74.0                   USA, UKUSA, UK, Canada, IcelandUSAUSA
75.0                                     USAUK, Germany, USA
76.0                                      USA, CanadaUSA, UK
77.0                                  USA, Canada, Australia
78.0                                           UK, USAUSAUSA
79.0                                 UK, South Africa, Italy

16.2 Make a new dataframe that only contains the information after you have grouped your data by a certain category

In [ ]:
df2 = df.groupby(['Metascore', 'Genre']).sum()
print(df2)

                                                       Unnamed: 0  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                           243
60.0      Crime, Drama                                        209
62.0      Action, Drama, Thriller                             114
          Drama                                               192
63.0      Action, Adventure, Fantasy                          204
...                                                           ...
94.0      Animation, Adventure, Family                         52
95.0      Animation, Family, Fantasy                          196
96.0      Biography, Drama, History                           157
100.0     Adventure, Family, Fantasy                          184
Title     Title                         TitleTitleTitleTitleTitle

                                                              Num  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                           244
60.0      Crime, Drama                                        210
62.0      Action, Drama, Thriller                             115
          Drama                                               193
63.0      Action, Adventure, Fantasy                          205
...                                                           ...
94.0      Animation, Adventure, Family                         53
95.0      Animation, Family, Fantasy                          197
96.0      Biography, Drama, History                           158
100.0     Adventure, Family, Fantasy                          185
Title     Title                         TitleTitleTitleTitleTitle

                                                                                    Title  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                                              Big Fish
60.0      Crime, Drama                                                           Dogville
62.0      Action, Drama, Thriller                                          V for Vendetta
          Drama                                                                  The Help
63.0      Action, Adventure, Fantasy    Pirates of the Caribbean: The Curse of the Bla...
...                                                                                   ...
94.0      Animation, Adventure, Family                                          WALLE
95.0      Animation, Family, Fantasy                                 Beauty and the Beast
96.0      Biography, Drama, History                                      12 Years a Slave
100.0     Adventure, Family, Fantasy                                     The Wizard of Oz
Title     Title                                                 TitleTitleTitleTitleTitle

                                                             Year  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                          2003
60.0      Crime, Drama                                       2003
62.0      Action, Drama, Thriller                            2005
          Drama                                              2011
63.0      Action, Adventure, Fantasy                         2003
...                                                           ...
94.0      Animation, Adventure, Family                       2008
95.0      Animation, Family, Fantasy                         1991
96.0      Biography, Drama, History                          2013
100.0     Adventure, Family, Fantasy                         1939
Title     Title                         TitleTitleTitleTitleTitle

                                                         Released  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                      9-Jan-04
60.0      Crime, Drama                                  23-Apr-04
62.0      Action, Drama, Thriller                       17-Mar-06
          Drama                                         10-Aug-11
63.0      Action, Adventure, Fantasy                     9-Jul-03
...                                                           ...
94.0      Animation, Adventure, Family                  27-Jun-08
95.0      Animation, Family, Fantasy                    22-Nov-91
96.0      Biography, Drama, History                      8-Nov-13
100.0     Adventure, Family, Fantasy                    25-Aug-39
Title     Title                         TitleTitleTitleTitleTitle

                                                          Runtime  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                       125 min
60.0      Crime, Drama                                    178 min
62.0      Action, Drama, Thriller                         132 min
          Drama                                           146 min
63.0      Action, Adventure, Fantasy                      143 min
...                                                           ...
94.0      Animation, Adventure, Family                     98 min
95.0      Animation, Family, Fantasy                       84 min
96.0      Biography, Drama, History                       134 min
100.0     Adventure, Family, Fantasy                      102 min
Title     Title                         TitleTitleTitleTitleTitle

                                                                                 Director  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                                            Tim Burton
60.0      Crime, Drama                                                     Lars von Trier
62.0      Action, Drama, Thriller                                          James McTeigue
          Drama                                                               Tate Taylor
63.0      Action, Adventure, Fantasy                                       Gore Verbinski
...                                                                                   ...
94.0      Animation, Adventure, Family                                     Andrew Stanton
95.0      Animation, Family, Fantasy                            Gary Trousdale, Kirk Wise
96.0      Biography, Drama, History                                         Steve McQueen
100.0     Adventure, Family, Fantasy    Victor Fleming, George Cukor, Mervyn LeRoy, No...
Title     Title                                                 TitleTitleTitleTitleTitle

                                                                                   Writer  \
Metascore Genre
58.0      Adventure, Drama, Fantasy      Daniel Wallace (novel), John August (screenplay)
60.0      Crime, Drama                                                     Lars von Trier
62.0      Action, Drama, Thriller       Lilly Wachowski (screenplay), Lana Wachowski (...
          Drama                         Tate Taylor (screenplay), Kathryn Stockett (no...
63.0      Action, Adventure, Fantasy    Ted Elliott (screen story), Terry Rossio (scre...
...                                                                                   ...
94.0      Animation, Adventure, Family  Andrew Stanton (original story by), Pete Docte...
95.0      Animation, Family, Fantasy    Linda Woolverton (animation screenplay by), Br...
96.0      Biography, Drama, History     John Ridley (screenplay), Solomon Northup (bas...
100.0     Adventure, Family, Fantasy    Noel Langley (screenplay), Florence Ryerson (s...
Title     Title                                                 TitleTitleTitleTitleTitle

                                                                                   Actors  \
Metascore Genre
58.0      Adventure, Drama, Fantasy     Ewan McGregor, Albert Finney, Billy Crudup, Je...
60.0      Crime, Drama                  Nicole Kidman, Harriet Andersson, Lauren Bacal...
62.0      Action, Drama, Thriller       Natalie Portman, Hugo Weaving, Stephen Rea, St...
          Drama                         Emma Stone, Viola Davis, Bryce Dallas Howard, ...
63.0      Action, Adventure, Fantasy    Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...
...                                                                                   ...
94.0      Animation, Adventure, Family  Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...
95.0      Animation, Family, Fantasy    Robby Benson, Jesse Corti, Rex Everhart, Angel...
96.0      Biography, Drama, History     Chiwetel Ejiofor, Dwight Henry, Dickie Gravois...
100.0     Adventure, Family, Fantasy    Judy Garland, Frank Morgan, Ray Bolger, Bert Lahr
Title     Title                                                 TitleTitleTitleTitleTitle

                                                                                     Plot  \
Metascore Genre
58.0      Adventure, Drama, Fantasy     A frustrated son tries to determine the fact f...
60.0      Crime, Drama                  A woman on the run from the mob is reluctantly...
62.0      Action, Drama, Thriller       In a future British tyranny, a shadowy freedom...
          Drama                         An aspiring author during the civil rights mov...
63.0      Action, Adventure, Fantasy    Blacksmith Will Turner teams up with eccentric...
...                                                                                   ...
94.0      Animation, Adventure, Family  In the distant future, a small waste-collectin...
95.0      Animation, Family, Fantasy    A young woman whose father has been imprisoned...
96.0      Biography, Drama, History     In the antebellum United States, Solomon North...
100.0     Adventure, Family, Fantasy    Dorothy Gale is swept away from a farm in Kans...
Title     Title                                                 TitleTitleTitleTitleTitle

                                        ...  \
Metascore Genre                         ...
58.0      Adventure, Drama, Fantasy     ...
60.0      Crime, Drama                  ...
62.0      Action, Drama, Thriller       ...
          Drama                         ...
63.0      Action, Adventure, Fantasy    ...
...                                     ...
94.0      Animation, Adventure, Family  ...
95.0      Animation, Family, Fantasy    ...
96.0      Biography, Drama, History     ...
100.0     Adventure, Family, Fantasy    ...
Title     Title                         ...

                                                                                  Country  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                                                   USA
60.0      Crime, Drama                  Netherlands, Denmark, UK, France, Finland, Swe...
62.0      Action, Drama, Thriller                                        USA, UK, Germany
          Drama                                          USA, India, United Arab Emirates
63.0      Action, Adventure, Fantasy                                                  USA
...                                                                                   ...
94.0      Animation, Adventure, Family                                                USA
95.0      Animation, Family, Fantasy                                                  USA
96.0      Biography, Drama, History                                               USA, UK
100.0     Adventure, Family, Fantasy                                                  USA
Title     Title                                                 TitleTitleTitleTitleTitle

                                                                                   Awards  \
Metascore Genre
58.0      Adventure, Drama, Fantasy     Nominated for 1 Oscar. Another 1 win & 68 nomi...
60.0      Crime, Drama                                          20 wins & 30 nominations.
62.0      Action, Drama, Thriller                                7 wins & 27 nominations.
          Drama                           Won 1 Oscar. Another 79 wins & 116 nominations.
63.0      Action, Adventure, Fantasy    Nominated for 5 Oscars. Another 36 wins & 96 n...
...                                                                                   ...
94.0      Animation, Adventure, Family     Won 1 Oscar. Another 90 wins & 90 nominations.
95.0      Animation, Family, Fantasy      Won 2 Oscars. Another 24 wins & 22 nominations.
96.0      Biography, Drama, History     Won 3 Oscars. Another 235 wins & 326 nominations.
100.0     Adventure, Family, Fantasy       Won 2 Oscars. Another 7 wins & 14 nominations.
Title     Title                                                 TitleTitleTitleTitleTitle

                                                       imdbRating  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                           8.0
60.0      Crime, Drama                                        8.0
62.0      Action, Drama, Thriller                             8.2
          Drama                                               8.1
63.0      Action, Adventure, Fantasy                          8.0
...                                                           ...
94.0      Animation, Adventure, Family                        8.4
95.0      Animation, Family, Fantasy                          8.0
96.0      Biography, Drama, History                           8.1
100.0     Adventure, Family, Fantasy                          8.1
Title     Title                         TitleTitleTitleTitleTitle

                                                        imdbVotes  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                       364,938
60.0      Crime, Drama                                    113,851
62.0      Action, Drama, Thriller                         849,623
          Drama                                           344,326
63.0      Action, Adventure, Fantasy                      869,710
...                                                           ...
94.0      Animation, Adventure, Family                    782,275
95.0      Animation, Family, Fantasy                      336,430
96.0      Biography, Drama, History                       490,387
100.0     Adventure, Family, Fantasy                      311,697
Title     Title                         TitleTitleTitleTitleTitle

                                                           imdbID  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                     tt0319061
60.0      Crime, Drama                                  tt0276919
62.0      Action, Drama, Thriller                       tt0434409
          Drama                                         tt1454029
63.0      Action, Adventure, Fantasy                    tt0325980
...                                                           ...
94.0      Animation, Adventure, Family                  tt0910970
95.0      Animation, Family, Fantasy                    tt0101414
96.0      Biography, Drama, History                     tt2024544
100.0     Adventure, Family, Fantasy                    tt0032138
Title     Title                         TitleTitleTitleTitleTitle

                                                             Type  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                         movie
60.0      Crime, Drama                                      movie
62.0      Action, Drama, Thriller                           movie
          Drama                                             movie
63.0      Action, Adventure, Fantasy                        movie
...                                                           ...
94.0      Animation, Adventure, Family                      movie
95.0      Animation, Family, Fantasy                        movie
96.0      Biography, Drama, History                         movie
100.0     Adventure, Family, Fantasy                        movie
Title     Title                         TitleTitleTitleTitleTitle

                                                              DVD  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                     27-Apr-04
60.0      Crime, Drama                                  24-Aug-04
62.0      Action, Drama, Thriller                        1-Aug-06
          Drama                                          6-Dec-11
63.0      Action, Adventure, Fantasy                     2-Dec-03
...                                                           ...
94.0      Animation, Adventure, Family                  18-Nov-08
95.0      Animation, Family, Fantasy                     8-Oct-02
96.0      Biography, Drama, History                      4-Mar-14
100.0     Adventure, Family, Fantasy                    19-Oct-99
Title     Title                         TitleTitleTitleTitleTitle

                                                        BoxOffice  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                  $66,257,002
60.0      Crime, Drama                                $1,498,177
62.0      Action, Drama, Thriller                    $70,500,000
          Drama                                     $169,705,587
63.0      Action, Adventure, Fantasy                $305,343,252
...                                                           ...
94.0      Animation, Adventure, Family              $223,749,872
95.0      Animation, Family, Fantasy                 $47,611,331
96.0      Biography, Drama, History                  $50,628,650
100.0     Adventure, Family, Fantasy                  $3,840,702
Title     Title                         TitleTitleTitleTitleTitle

                                                       Production  \
Metascore Genre
58.0      Adventure, Drama, Fantasy                 Sony Pictures
60.0      Crime, Drama                           Lions Gate Films
62.0      Action, Drama, Thriller           Warner Bros. Pictures
          Drama                                DreamWorks Studios
63.0      Action, Adventure, Fantasy         Buena Vista Pictures
...                                                           ...
94.0      Animation, Adventure, Family       Walt Disney Pictures
95.0      Animation, Family, Fantasy                  Buena Vista
96.0      Biography, Drama, History               Fox Searchlight
100.0     Adventure, Family, Fantasy        Warner Bros. Pictures
Title     Title                         TitleTitleTitleTitleTitle

                                                                                  Website
Metascore Genre
58.0      Adventure, Drama, Fantasy     http://www.sonypictures.com/movies/bigfish/ind...
60.0      Crime, Drama                                            http://www.dogville.dk/
62.0      Action, Drama, Thriller                     http://vforvendetta.warnerbros.com/
          Drama                                               http://www.thehelpmovie.com
63.0      Action, Adventure, Fantasy    http://disney.go.com/disneyvideos/liveaction/p...
...                                                                                   ...
94.0      Animation, Adventure, Family                             http://www.wall-e.com/
95.0      Animation, Family, Fantasy              http://www.disney.com/beautyandthebeast
96.0      Biography, Drama, History          http://www.foxsearchlight.com/12yearsaslave/
100.0     Adventure, Family, Fantasy                 http://thewizardofoz.warnerbros.com/
Title     Title                                                 TitleTitleTitleTitleTitle

[63 rows x 21 columns]

### 17. Visualizations

17.1 Load matplotlib.pyplot aliased as plt

In [ ]:
import matplotlib.pyplot as plt

17.2 Histograms are one of the best ways to understand the distribution of key columns in your dataset. Make a histogram of the column you created in 15.2

17.3 A histogram is a bar chart of the count of the instances of the elements in a column of your dataset. Make a bar chart that counts the frequency of the elements in the same column you chose for 16.2

17.4 A box plot is another great way to understand details of a column in your data. Make a boxplot of the same column of your dataset. What can you learn from this chart?

17.5 Turn your bar chart from 17.3 into a pie chart

17.6 A scatter plot requires the identification of both values to place on the x and the y axis. It is a great way to visualize the relationship between two variables. Make a scatterplot using two columns in your data

17.7 Add a legend and title to your scatterplot. Change the color of the points on your scatter plot too.

17.8 Return the scatterplot from 17.7 and the pie chart from 16.5 in the same ouput by making a grid. **<font color = 'blue'> Google </font>** it if you need help!